<h1>Listing memberships</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @memberships.each do |membership| %>
      <tr>
        <td><%= link_to 'Show', membership, class:'btn btn-primary' %></td>
        <td><%= edit_and_destroy_buttons(membership) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Membership', new_membership_path, class:'btn btn-primary' %>
