<h2>List of ratings</h2>

<ul>
 <% @ratings.each do |rating| %>
   <li> <%= rating %> <%= link_to User.find_by(id:(rating.user)).username, rating.user %>  </li>
 <% end %>
</ul>
<p><%= @ratings.count %> ratings</p>

<%= link_to 'create new rating', new_rating_path, class:'btn btn-primary' %>

